<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "checkMates" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
     <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>

  <body>
   <!-- This is the Nav bar HTML-->
    <div class="page-wrap">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to 'checkMates', root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->

        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to 'Play Game', games_path %></li>
            <li class="active"><%= link_to 'Log in',  new_user_session_path %></li>
            <li class="divider"></li>
            <li class="in-active"><%= link_to 'Sign up', new_user_registration_path %></li>
            </li>
          </ul>
          <!-- Left Nav Section -->
          <!-- <ul class="left">
            <li><%= link_to 'New Game', new_game_path %></li>
          </ul> -->
        </section>
      </nav>
    </div>
    <!-- This ends Nav Bar HTML-->

    <!-- This is the Footer HTML -->




    <%= yield %>

    <div id="footer">
       <div class="row">
        <div class="small-6 columns"><img src= "assets/firehoselogo.png" alt="some_text"></div>

        <div class="small-6 columns">ABOUT</div>
      </div>
    </div>

  </body>
</html>
